@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

* { box-sizing: border-box; }

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  color: #30323d;
  font-size: 1.6rem;
  line-height: 1.91rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: var(--Background);
  padding-top: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  max-width: 100%;
}

a {
  color: #30323d;
}

a:hover {
  color: #30323d;
  text-decoration: none;
}

:root {
  --White: #fff;
  --Red: #e55934;
  --Green: #23be7b;
  --Primary: #ffb800;
  --Disabled: #414141;
  --TextError: #e55934;
  --TextPrimary: #30323d;
  --TextDisabled: #414141;
  --Border: #eee;
  --Background: #f9f9f9;
}
